@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
	background-color: var(--color-primary-color-darker);
	color: var(--color-color-font);
}

@theme {
	--color-primary-color: #49a3ed;
	--color-primary-color-darker: #0e131e;
	--color-primary-color-hover: #008cff;
	--color-bg-input: #181f2f;
	--color-place-color: #8892a7;
	--font-inter: "Inter", sans-serif;
	--color-color-font: #fafafa;
}

/* For Scroll */
::-webkit-scrollbar-track {
	background-color: #8892a7; 
	border-radius: 10px; 
  }

  ::-webkit-scrollbar-thumb {
	background-color: var(--color-bg-input); 
	border-radius: 10px; 
  }

  ::-webkit-scrollbar {
	width: 10px; 
	height: 10px;
  }